<br />
<br />
<br />
<div class="container-fluid" ng-show="loggedin">
    <div class="registerWindow">
        <div class="header">
            <h2>Drive</h2>
        </div>
        <div class="body">
            <label>Add your location: </label>
            <div>
               
                <div id="map" class="map"></div>
                <script type="text/javascript">
                  var map = new ol.Map({
                    target: 'map',
                    layers: [
                      new ol.layer.Tile({
                        source: new ol.source.OSM()
                      })
                    ],
                    view: new ol.View({
                      center: ol.proj.fromLonLat([37.41, 8.82]),
                      zoom: 4
                    })
                  });
                </script>
            </div>
            <div class="form-group">
                <input type="text" class="t" id="xCoord" ng-model="drive.XCoord" placeholder="X coordinate">
            </div>
            <div class="form-group">
                <input type="text" class="t" id="yCoord" ng-model="drive.YCoord" placeholder="Y coordinate">
            </div>
            <div class="form-group">
                <input type="text" class="t" id="street" ng-model="drive.Street" placeholder="Street">
            </div>
            <div class="form-group">
                <input type="text" class="t" id="number" ng-model="drive.Number" placeholder="Number">
            </div>
            <div class="form-group">
                <input type="text" class="t" id="town" ng-model="drive.Town" placeholder="Town">
            </div>
            <div class="form-group">
                <input type="text" class="t" id="postalCode" ng-model="drive.PostalCode" placeholder="Postal code">
            </div>
            <div class="form-group">
                <select class="t" id="tipVoznje" ng-model="drive.tipAuta" placeholder="CarType">
                    <option value="" disabled>Choose a car type</option>
                    <option value="0"> Passanger car</option>
                    <option value="1">Van</option>
                </select>
            </div>
            <br>

            <button ng-show="user.role==0" type="submit" class="btn button-success" ng-click="AddDriveCustomer(drive)">Add a drive</button>
            <button ng-show="user.role==1" type="submit" class="btn button-success" ng-click="AddDriveDispecer(drive)">Add a drive disp</button>
        </div>
    </div>
</div>
   