<br />
<br />
<br />
<div class="container">
    <div>
        <!--class="podforumi-header">-->
        <h1>Welcome <span ng-show="loggedin">{{user.username}}</span> <!--<span ng-show="korisnik.uloga.includes('Administrator')">(Admin)</span>--></h1>

        <h4 ng-show="!loggedin">Please login if you want to use our services.</h4>
    </div>
</div>
<div class="container">
    <div class="topright" ng-show="user.role==1">
        <button type="submit" ng-click="getAllDrives()">Prikazi sve voznje</button>
    </div>
</div>
<div class="container">
    <div class="topright" ng-show="user.role==2">
        <button type="submit" ng-click="getWaitingDrives()">Prikazi voznje na cekanju</button>
    </div>
</div>

<div class="form-group">
    <input ng-model="fu.PoCemu" type="radio" name="gender" value="0"> Po oceni<br>
    <input ng-model="fu.PoCemu" type="radio" name="gender" value="1"> Po datumu<br>
</div>
<button ng-show="!CD && !SVE && !FILT1 && !FILT2" type="submit" ng-click="Sorting(MyDrives,fu.PoCemu)">Sortiraj</button>
<button ng-show="SVE && FILT1" type="submit" ng-click="Sorting(FilteredDrives,fu.PoCemu)">Sortiraj</button>
<button ng-show="!SVE && FILT2" type="submit" ng-click="Sorting(FilteredDrives,fu.PoCemu)">Sortiraj</button>
<button ng-show="SVE && !FILT1 && !FILT2" type="submit" ng-click="Sorting(AllDrives,fu.PoCemu)">Sortiraj</button>
<button ng-show="CD && !SVE && !FILT1 && !FILT2" type="submit" ng-click="Sorting(WaitingDrives,fu.PoCemu)">Sortiraj</button>



<div class="form-group">
    <select class="t" id="fil" ng-model="fu.Status">
        <option value="" disabled>Odaberi status</option>
        <option value="0"> Kreirana_NaCekanju</option>
        <option value="1">Formirana</option>
        <option value="2">Obradjena</option>
        <option value="3">Prihvacena</option>
        <option value="4">Otkazana</option>
        <option value="5">Neuspesna</option>
        <option value="6">Uspesna</option>

    </select>
    <br>

</div>



<h4>Voznje koji zadovoljavaju kriterijume</h4>
<div class="container-fluid" ng-show="MD">
    <button type="submit" ng-click="Filter(MyDrives,fu.Status)">Filtriraj</button>
    <div ng-show="MD" class="rezultati" ng-repeat="drive in MyDrives">
        <div class="tema">
            <p>  {{drive.DatumIVremePorudzbine}} </p>
            <p> {{drive.LokacijaZaDolazak.Adr.Ulica}}, {{drive.LokacijaZaDolazak.Adr.Broj}}</p>
            <p> {{drive.LokacijaZaDolazak.Adr.NaseljenoMesto}}</p>
            <p> {{drive.LokacijaZaDolazak.Adr.PozivniBroj}}</p>
            <p> {{drive.Kom.Ocena}}</p>
            <p> {{drive.Stat}}</p>

        </div>
    </div>
</div>
<div class="container-fluid" ng-show="CD">

    <div ng-show="CD" class="rezultati" ng-repeat="drive in WaitingDrives">
        <div class="tema">
            <p>  {{drive.DatumIVremePorudzbine}} </p>
            <p> {{drive.LokacijaZaDolazak.Adr.Ulica}}, {{drive.LokacijaZaDolazak.Adr.Broj}}</p>
            <p> {{drive.LokacijaZaDolazak.Adr.NaseljenoMesto}}</p>
            <p> {{drive.LokacijaZaDolazak.Adr.PozivniBroj}}</p>
            <p> {{drive.Kom.Ocena}}</p>
            <p> {{drive.Stat}}</p>

        </div>
    </div>
</div>
<div class="container-fluid" ng-show="AD">
    <button type="submit" ng-click="Filter(AllDrives,fu.Status)">Filtriraj</button>
    <div ng-show="AD" class="rezultati" ng-repeat="drive in AllDrives">
        <div class="tema">
            <p>  {{drive.DatumIVremePorudzbine}} </p>
            <p> {{drive.LokacijaZaDolazak.Adr.Ulica}}, {{drive.LokacijaZaDolazak.Adr.Broj}}</p>
            <p> {{drive.LokacijaZaDolazak.Adr.NaseljenoMesto}}</p>
            <p> {{drive.LokacijaZaDolazak.Adr.PozivniBroj}}</p>
            <p> {{drive.Kom.Ocena}}</p>
            <p> {{drive.Stat}}</p>

        </div>
    </div>
</div>
<div class="container-fluid" ng-show="SD">
    <button ng-show="SVE" type="submit" ng-click="Filter(AllDrives,fu.Status)">Filtriraj</button>
    <button ng-show="!SVE" type="submit" ng-click="Filter(MyDrives,fu.Status)">Filtriraj</button>

    <div ng-show="SD" class="rezultati" ng-repeat="drive in SortedDrives">
        <div class="tema">
            <p>  {{drive.DatumIVremePorudzbine}} </p>
            <p> {{drive.LokacijaZaDolazak.Adr.Ulica}}, {{drive.LokacijaZaDolazak.Adr.Broj}}</p>
            <p> {{drive.LokacijaZaDolazak.Adr.NaseljenoMesto}}</p>
            <p> {{drive.LokacijaZaDolazak.Adr.PozivniBroj}}</p>
            <p> {{drive.Kom.Ocena}}</p>
            <p> {{drive.Stat}}</p>

        </div>
    </div>
</div>

<div ng-show="FD">
    <button ng-show="!SVE" type="submit" ng-click="Filter(MyDrives,fu.Status)">Filtriraj</button>
    <button ng-show="SVE" type="submit" ng-click="Filter(AllDrives,fu.Status)">Filtriraj</button>
    <div ng-show="FD" class="rezultati" ng-repeat="drive in FilteredDrives">
        <div class="tema">
            <p>  {{drive.DatumIVremePorudzbine}} </p>
            <p> {{drive.LokacijaZaDolazak.Adr.Ulica}}, {{drive.LokacijaZaDolazak.Adr.Broj}}</p>
            <p> {{drive.LokacijaZaDolazak.Adr.NaseljenoMesto}}</p>
            <p> {{drive.LokacijaZaDolazak.Adr.PozivniBroj}}</p>
            <p> {{drive.Kom.Ocena}}</p>
            <p> {{drive.Stat}}</p>

        </div>
    </div>
</div>


<br /><!--VOZNJE-->
<br />
<br />
<br />
<div class="container">
    <div class="topright" ng-show="user.role!=2">
        <a href="#!/DriveGet/{{user.username}}">Add Drive</a>
    </div>
</div>
<div class="container">
    <div class="topright" ng-show="user.role==1">
        <a href="#!/DriverGet/{{user.username}}">Add Driver</a>
    </div>
</div>
